.Event {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  color: inherit;
  text-decoration: inherit;
  padding: 1em 0;
}

.Event:hover {
  text-decoration: underline;
}

.Event__time {
  grid-column-start: 1;
  grid-column-end: 2;
}

.Event__header {
  grid-column-start: 2;
  grid-column-end: 3;
}

.Event__suptitle {
  grid-column-start: 2;
  grid-column-end: 4;
  text-align: left;
  font-weight: bold;
  font-size: 150%;
  margin: 0;
}

.Event__title {
  grid-column-start: 2;
  grid-column-end: 4;
  text-align: left;
  font-weight: bold;
  font-size: 150%;
  margin: 0;
}

.Event__tag {
  grid-column-start: 2;
  font-size: 75%;
}

.Event__description {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
}

.Event__location {
  grid-column-start: 3;
  grid-row-start: 2;
  font-size: 75%;
  /*
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  overflow: hidden;
  */
}
